<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pure Produce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <% if(!currentUser || currentUser.user_type === "consumer"){ %>
              <a class="nav-link" href="/products?category=all">View Products</a>
            <% }%>
            <% if(currentUser){ %>
              <% if(currentUser.user_type === "consumer"){ %>
                <a class="nav-link" href="/users/<%= currentUser._id %>/cart">&#128722;Cart</a>
                <a class="nav-link" href="/users/<%= currentUser._id %>/orders">My orders</a>
              <% } else{ %>
                <a class="nav-link" href="/products/new">Add Products</a>
                <a class="nav-link" href="/users/<%= currentUser._id %>/sold_products">&#127793;View My Products</a>
              <% } %>
            <% } %>
        </div>
        <div class="navbar-nav ms-auto me-5">
          <% if(!currentUser){ %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Sign Up</a>
          <% } else{ %>
            <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
</nav>