<%- layout('layouts/boilerplate') %>
<div class="row">
    <img src="farm_image.jpg">
</div>
<div class="row mt-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio odio repellat voluptate saepe nemo consectetur hic voluptatem iste provident. Nisi alias ipsum eos natus ex accusantium non unde culpa commodi.
    Vel, quaerat? Soluta fugit, culpa debitis repellat labore alias vel quidem pariatur nostrum itaque rem amet ipsum sit velit distinctio possimus cumque ipsa sed in vitae nihil ex omnis esse?
    Omnis natus numquam aut. Corrupti quisquam, mollitia debitis provident maiores sequi. Dignissimos obcaecati repellendus consequuntur? Nam nobis corporis magnam omnis possimus ipsum ipsa repellat placeat accusamus. Eos magni ut laudantium.
    Reiciendis obcaecati voluptatem, esse nulla consectetur autem porro incidunt similique maxime omnis, impedit minima quas natus corrupti ex aspernatur quam maiores tenetur! Aut atque, libero aperiam maxime vel praesentium magni?
    Debitis excepturi iusto labore. Possimus aliquid modi provident libero ipsam fugit, ea amet sequi facilis quam et non veritatis eveniet adipisci impedit quidem nulla, officiis eligendi aliquam dicta explicabo aperiam.
</div>



